<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Facturacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Salir</a>
        </li>
      </ul>
</div>

